img {
  display: block;
  object-fit: cover;
}

.profile {
  background-color: $periwinkle;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  img {
    height: 100%;
    border-radius: 50%;
  }
}