html {
  overflow-y: auto;
}

body {
  background-color: $dark;
  min-height: 100vh;
  padding-top: $navbar-height;
}

.columns.is-fullheight {
  min-height: calc(100vh - #{$navbar-height});
  max-height: calc(100vh - #{$navbar-height});
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .column {
    overflow-y: auto;
  }
}