.header {
  margin: 1rem auto;
}

progress {
  margin: auto;
  max-width: 425px;
}

.buttons {
  margin: 2rem auto;
}

.cards {
  flex-wrap: wrap;
  margin: 3rem auto; 
}

.card {
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.02);
  }
}

.card-content p {
  margin-bottom: 0;
}

.card-content .lnr {
  color: $primary;
  margin-right: 1rem;
}